<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body class="p-100">
    <div class="container align-items-center">
        <div class="row">
          <div class="col m-50">
            <form action="yukleme" method="POST" enctype="multipart/form-data">
              <input type="file" name="dosya" required="required" />
              <input type="submit" />
            </form>
            <form action="/yukleme" enctype="multipart/form-data" method="post">
              <div class="form-group">
                <input type="file" class="form-control-file" name="uploaded_file">
                <input type="text" class="form-control" placeholder="Number of speakers" name="nspeakers">
                <input type="submit" value="Get me the stats!" class="btn btn-default">            
              </div>
            </form>
          </div>
          <div class="col">
            <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Files</th>
                    <th scope="col">Edit</th>
                    <th scope="col">View</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>file name</td>
                    <td><a href="/filesid"><button class="btn btn-primary" ><span class="fa fa-pencil"></span></button></a></td>
                    <td><a href="/filesid"><button class="btn btn-warning" ><span class="fa fa-eye"></span></button></a></td>
                    <td><a href="/filesid"><button class="btn btn-danger"  ><span class="fa fa-eraser"></span></button></a></td> 
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>file name</td>
                    <td><button class="btn btn-primary" href=""><span class="fa fa-pencil"></span></button></td>
                    <td><button class="btn btn-warning" href=""><span class="fa fa-eye"></span></button></td>
                    <td><button class="btn btn-danger" href=""><span class="fa fa-eraser"></span></button></td> 
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
</body>
<script language="javascript">
    function DoPost(){
      $.post("server.js", { id: "id"} );  //Your values here..
   }
</script>
</html>