<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
   
</head>
<body>
    <h1>Login</h1>
        <ul>
            <% if(messages.success_msg) { %>
                <div class="alert alert-success" role="alert">
                    <li><%=messages.success_msg %> </li>
                </div>
                <% } %> 
        </ul> 
        <ul>
            <% if(messages.error){ %> 
                <li><%=messages.error %> </li>
            <% } %> 
        </ul>
    <form action="/users/login" method="POST">
    <div>
        <input 
            type="email" 
            id="email" 
            name="email" 
            placeholder="Email" 
            required
        />
    </div>
    <div>
        <input 
            type="password" 
            id="password" 
            name="password" 
            placeholder="Password" 
            required
        />
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
    <div>
        <a href="/users/register">Create Account</a>
    </div>
    </form>
</body>
</html>